@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: Roboto, sans-serif;
}

.titulos{
    font-family: Raleway, Times;
}

.navMenu{
    padding: 0;
}

.navItem{
    display: inline;
    padding: 10px;
    border-radius: 10px;
    background-color: #D8A25E;
    font-size: 20px;

}
