@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: Roboto, sans-serif;
}

.titulos{
    font-family: Raleway, Times;
}

.navMenu{
    padding: 0;
}

.navItem{
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #D8A25E;
    font-size: 20px;
    margin-bottom: 10px;
}

.h1Recetas{
    margin: 0;
    font-size: 45px;
    background: #EEDF7A;
    padding: 8px;
}

.h2Recetas{
    background: #EEDF7A;
    padding-left: 8px;
    margin: 0;
    font-size: 30px;
}

.descReceta{
    background-color: #F4FFFD;
    padding: 10px;
    margin: 0;
    font-size: 20px;
}

.descListas{
    margin: 0;
    padding: 10px 40px 10px;
    background-color: #D5CFE1;
    font-size: 18px;
}

img{
    display: block;
    margin: auto;
}

